* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: monospace;
  background-color: #fff;
  max-width: 1248px;
  margin: 0 auto;
}

.overall {
  border: 1px solid #f6f4f0;
  border-radius: 0px;
  width: 1248px;
  height: 3012px;
  background-color: #f6f4f0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.section-1 {
  border: 1px solid #f6f4f0;
  border-radius: 5px;
  height: 138px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-1 {
  border: 1px solid #2a2c2e;
  border-radius: 20px;
  background-color: #2a2c2e;
  opacity: 96%;
  width: 1200px;
  height: 96px;
  padding: 20px 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.child-11 {
  border: 1px solid red;
  border-radius: 5px;
  background-color: #2a2c2e;
  opacity: 96%;
  width: 166px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
}

.child-12 {
  border: 1px solid red;
  border-radius: 5px;
  background-color: #2a2c2e;
  opacity: 96%;
  width: 456px;
  height: 24px;
  gap: 32px;
}

.child-13 {
  border: 1px solid red;
  border-radius: 5px;
  background-color: #2a2c2e;
  opacity: 96%;
  width: 253px;
  height: 56px;
  gap: 40px;
}

.section-2 {
  background-color: #f4ce47;
  height: 80px;
  padding: 12px;
  gap: 24px;
}

.section-3 {
  background-color: #2a2c2e;
  height: 2618px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-3 {
  border: 1px solid red;
  border-radius: 0px;
  background-color: #2a2c2e;
  width: 898px;
  height: 2332px;
  gap: 8px;
}

.child-3 {
  border: 1px solid blue;
  width: 898px;
  height: 577px;
  gap: 8px;
  display: flex;
  flex-direction: row;
}

.grandchild-3 {
  border: 1px solid white;
  border-radius: 20px;
  background-color: ffffff;
  width: 294px;
  height: 577px;
  padding: 24px;
}

.section-4 {
  border: 1px solid red;
  background-color: #2a2c2e;
  width: 1248px;
  height: 128px;
  position: absolute;
  bottom: 0px;
}

.main-41 {
  border: 1px solid brown;
  height: 88px;
  padding-right: 24px;
  padding-left: 24px;
}

.main-42 {
  border: 1px solid brown;
  background-color: #000000de;
  height: 40px;
  padding: 12px 24px;
}
